@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600;1,700&family=Titillium+Web:ital,wght@0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,800;1,700;1,800&display=swap');

*,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
body {
  background-color: #031d44;
  background-image: linear-gradient(90deg, #121f56 0%, #0496ff 100%);
}

h1 {
  position: relative;
  background: transparent;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  color: #eaf4d3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web', 'Roboto Mono', monospace, sans-serif;
  color: rgba(199, 195, 189, 0.671);
}
h4 {
  color: #848c8e;
  margin: 0.4rem 0.1rem;
  font-size: 1rem;
}
p,
span {
  font-family: 'Roboto Mono', 'Open Sans', sans-serif;
  color: #848c8e;
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-align: left;
}

svg {
  width: 32px;
  height: 32px;
  fill: currentColor;
  vertical-align: bottom;
}

a,
u {
  text-decoration: none;
  text-decoration-color: white;
}
p::before {
  content: ' ';
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: #f4f5f4d5;
  margin-top: -4%;
  mask: url('./img/format.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
p::before,
p::after {
  background-color: rgba(255, 255, 255, 0.637);
  color: #3a5cc2;
  margin: 1rem;
}
p::after {
  content: '  ';
  mask: url('./img/format.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  padding-right: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: #a0c45f80;
  margin-top: 110%;
}
.App {
  /* text-align: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow-x: hidden; */
}
body::-webkit-scrollbar {
  width: 14px;
  height: 2px;
}
body::-webkit-scrollbar-thumb {
  background: #3e47c0;
  border-radius: 10px;

  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
body::-webkit-scrollbar-thumb:hover {
  background: #091288;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #462f7c, #251a3d 1px, #2a1653 0, #271a41);
}

.app-container {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
}

.app-container > div {
  width: 100%;
  min-width: 50%;
  margin: 1rem 1rem;
  max-height: 90%;
  background-color: transparent;
}

.dog-container > .dog-title-button {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.dog-container > .dog-title-button > button {
  padding: 2px 5px;
  background-color: none;
  border-radius: 4px;
  border: 1px solid #c31432;
  color: #df6464;
  cursor: pointer;
  outline: none;
  max-width: 3rem;
}

.dog-container > .dog-title-button > button:hover {
  background-color: #d6586dce;
  border: 1px solid rgba(90, 128, 211, 0.438);
  color: white;
}

.post ul {
  padding: 1rem;
  list-style: none;
  text-decoration: none;
}

.post ul li:not(:last-child) {
  padding-bottom: 30px;
}

.post ul li h4 > span {
  font-size: 0.9rem;
}

.post ul li h4 {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
}

.post ul li p {
  padding-left: 1.2rem;
}

@media (max-width: 900px) {
  .post {
    margin-top: 1rem;
    padding: 2rem 0.5rem;
  }
  .post ul {
    padding: 1rem 0rem;
  }

  .post ul li:not(:last-child) {
    padding-bottom: 30px;
  }

  .post ul li h4 > span {
    font-size: 0.9rem;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
