*,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #dce0e9;
}
.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow-x: hidden;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  z-index: 4;
  margin-top: 0;
  padding-top: 0;
}
.hero h1 {
  position: relative;
  background: transparent;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  color: rgba(229, 241, 240, 0.965);
}
.head-btn {
  position: relative;
  height: 3rem;
  width: 20%;
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: none;
}
.btn-apply {
  position: relative;
  max-width: 100px;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #0ba306;
  background: transparent;
  outline: none;
  color: #227a0c;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}
.btnRegister {
  position: relative;
  font-size: 18px;
  font-weight: 800;
  padding: 6px 10px;
  max-width: 100px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: linear-gradient(
    to right,
    #82d36ee5,
    #ff0000a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #e2eeeef8;
}

.btn-apply:hover {
  position: relative;
  color: #dce0e9;
  background: linear-gradient(
    to right,
    #82d36ee5,
    #ff0000a9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safar*/
}

.btnRegister:hover {
  position: relative;
  color: #227a0c;
  border: 1px solid #227a0c;
  background: transparent;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-image: url("./img/backgraund2.jpg");
  background-position: top center;
  background-size: cover;
  object-fit: cover;
  background-repeat: "no-repeat";
  opacity: 0.48;
}
.app-body {
  background-color: rgba(243, 240, 234, 0.65);
  margin-top: -4rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  padding: 4rem 2rem 2rem;
}
.app-container {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
}
.app-container > div {
  width: 100%;
  min-width: 50%;
  margin: 0.8rem 1rem;
  max-height: 90%;
}

.dog-container > .dog-title-button {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.dog-container > .dog-title-button > button {
  padding: 2px 5px;
  background-color: none;
  border-radius: 4px;
  border: 1px solid #c31432;
  color: #df6464;
  cursor: pointer;
  outline: none;
  max-width: 3rem;
}

.dog-container > .dog-title-button > button:hover {
  background-color: #d6586dce;
  border: 1px solid rgba(90, 128, 211, 0.438);
  color: white;
}
img {
  max-width: 500px;
  width: 500px;
  max-height: 300px;
  object-fit: cover;
  position: center;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #000000;
}

.post {
  margin-top: 1rem;
  padding: 1rem;
  text-align: left;
}

.post ul {
  padding: 1rem;
  list-style: none;
  text-decoration: none;
}

.post ul li:not(:last-child) {
  padding-bottom: 20px;
}

.post ul li h4 > span {
  color: gray;
  font-size: 0.9rem;
}

.post ul li h4 {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0.7rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.513);
}

.post ul li p {
  font-family: "Times New Roman", Times, serif;
  padding-left: 1.2rem;
}

/* Nav Bar */
.nav-bar {
  height: 45px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  z-index: 12;
  color: rgba(229, 241, 240, 0.965);
  padding: 0 1.5rem;
}
.nav-bar .log {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
}
.nav-bar .log h3 {
  background-color: transparent;
  letter-spacing: 2px;
  font-weight: 900;
}

.nav-bar ul {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  max-width: 35%;
}

.nav-bar ul li {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  outline: none;
  cursor: pointer;
  max-width: 70px;
  margin-left: 20px;
}
.nav-bar ul > li:hover {
  color: #f4f6f8f8;
  transform: scale(1.1);
  border-bottom: 2.4px solid #3f34d89b;
}

/* page input form */
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  max-width: 350px;
  border-radius: 4px;
}
.form > label {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  color: gray;
}
.form-input {
  max-width: 150px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-left: 0.8rem;
  color: rgb(6, 29, 49);
  background-color: #c8cacf;
  padding: 4px 3px;
}
.form button {
  max-width: 4rem;
  background-color: none;
  border-radius: 4px;
  border: 1px solid #c31432;
  color: #df6464;
  cursor: pointer;
  outline: none;
}
.flag {
  position: absolute;
  top: 12px;
  right: 15px;
  width: auto;
  display: flex;
  justify-content: flex-end;
}
ul > li:last-child:hover {
  border: none !important;
}
.flag img {
  width: 30px;
  height: 25px;
}
